
body {
    padding: 20px;
    background-image: url('https://images.blocksurvey.io/cdn-cgi/imagedelivery/G6cPOuGZ4Z_bEV13gBxixw/templates/preschool-registration-form.png/l');
}

.container {
    margin-top: 30px;
}

table th {
    cursor: pointer;
}

table th.sorted-asc:after {
    content: " ↑";
}

table th.sorted-desc:after {
    content: " ↓";
}
